<%- include("../header") %> <%- include("../sidebar") %>
<!--Container Main start-->
<main class="main">
  <section class="category section" id="category">
    <h1 class="mt-4 mb-4">Category</h1>
    <a data-ripplet href="/category/new" class="btn btn-primary mb-4">Create</a>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th style="width: 3rem" scope="col">#</th>
          <th scope="col">Title</th>
          <th style="width: 2rem" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach((category, index) => { %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= category.name %></td>
          <td>
            <div class="dropdown">
              <a
                class="dropdown-toggle"
                data-ripplet
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="uil uil-ellipsis-h icon"></i>
              </a>
              <div class="dropdown-menu">
                <a
                  data-ripplet
                  class="dropdown-item"
                  href="/category/<%= category._id %>/show"
                  >Show
                </a>
                <a
                  data-ripplet
                  class="dropdown-item"
                  href="/category/<%= category._id %>/update"
                  >Update
                </a>
                <a
                  data-ripplet
                  class="dropdown-item"
                  href="/category/<%= category._id %>/delete"
                  >Delete
                </a>
              </div>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>
</main>
